body {
    font-family: Arial, sans-serif;
    text-align: center; 
    background-color: #f7f7f7; /* Background color for the body */
  }
  h2 {
    background-color: #12153a; /* Updated background color for the title */
    color: #ffffff; /* Text color for the title */
    padding: 10px; /* Add some padding for better spacing */
    border-radius: 5px; /* Rounded corners for a nicer look */
    display: inline-block; /* Make the title only as wide as its content */
    margin: 30px 50px; /* Add margin and center horizontally */
  }